
$color-white: #fff;
$color-black: #000;
$color-title: #32505a;
$color-red: #da2024;
$color-green: #84c604;
$color-orange: #fd4f10;
$color-footer-bg : #1a2d34;
$color-footer-text: #557a87;
$color-footer-menu: #20353d;
$color-grey: #8d969a;
$color-grey-white: #E8E8E8; 
$color-blue: #5e81a7;
$color-blue-white: #b9cada;


$ff-OpenSansLight: 'OpenSans-Light';
$ff-OpenSansLightItalic: 'OpenSans-LightItalic';
$ff-OpenSansRegular: 'OpenSans-Regular';
$ff-OpenSansSemiBold: 'OpenSans-SemiBold';
$ff-OpenSansBold: 'OpenSans-Bold';

$ff-RobotoSlabBold: 'RobotoSlab-Bold';
$ff-LemonTuesdayRegular: 'LemonTuesday-Regular';