

@media (min-width: 750px) {
   .about {

        &__title {
            font-size: 48px;
            &_320 {
                display: none;
            }
            &_750 {
                display: block;
            }
        }
        &__subtitle {
            font-size: 22px;
        }

        &__content {
            &-top {
                @include flex($f-content: space-between, $gap: 0px);
                margin-bottom: 30px;
                p:nth-child(4) {
                    display: none;
                }
            }
            &-text {
                p:nth-child(1) {   
                    max-width: 467px;
                }
                p:nth-child(2) {
                    max-width: 466px;
                }
                p:nth-child(3) {
                    max-width: 466px;
                }
                p:nth-child(5) {
                    display: block;
                    max-width: 471px;
                }
                p:nth-child(6) {
                    display: none;
                }
            }
            &-img_750 {
                display: block;
            }
            &-img_1200 {
                display: none;
            }
            &-footer {
                display: block;
                max-width: 708px;
            }
        }

        &__btn {
            display: none;
        }
   }
 
 }
 
 @media (min-width: 1200px)  {
 
     .container {
         max-width: 1170px;
         padding: 0 15px;
         margin: 0 auto;
    }

    .about {

        &__title {
            font-size: 60px;
            &_750 {
                display: none;
            }
            &_1200 {
                display: block;
            }
        }
        &__subtitle {
            font-size: 24px;
        }
        &__content {
            &-top {
                justify-content: space-between;
            }
            &-img_750 {
                display: none;
            }
            &-img_1200 {
                display: block;
            }
            &-footer {
                display: none;
            }
            &-text {
                p:nth-child(1) {  
                    max-width: 800px;
                }
                p:nth-child(2) {
                    max-width: 807px;
                }
                p:nth-child(3) {
                    max-width: 797px;
                }
                p:nth-child(5) {
                    display: block;
                    max-width: 810px;
                }
                p:nth-child(6) {
                    display: block;
                    max-width: 805px;
                }
            }
        }
        
    }

 }